[MasterServer]
masterPort=34000
clientPort=34001
masterCCU=20
serverId=200
supervisorCooldown=1
minServers = 0

[Report]
ReportDir=C:\Warz\

[WarZGames]
numCliffGames = 0
numTrialGames = 0
numVeteranGames = 0
numPTEGames = 0
numPTEGamesCali = 0
numPTEGamesStronghold = 0
numAircraftCarrier = 0
numAircraftCarrierSNPMode = 0
numAircraftCarrierNoSNPMode = 0
numNoDrop = 0

numGames = 2
numPremiumGames = 2
numTradeZone = 1
maxPlayers = 50

//DisableSNP -เล่นได้แค่กล
//DisableASR -เล่นได้แค่สไน
//MeleeOnly -เล่นได้แค่มีด
//RespawnFast -ตายเกิด
//NoDrop -โนดรอป
//Passworded -รหัส


#[PermGame1]
map = MAPID_PVP14 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 00 #SAFEZONE & PVP
RespawnFast = 1

[PermGame2]
map = MAPID_PVP14 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 01.1 #CLEARVIEW ORIGINAL
DisableSNP = 0
DisableASR = 0
RespawnFast = 1
ClanLimit = 5

#[PermGame3]
map = MAPID_PVP14 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = #CLEARVIEW ORIGINAL (ASR ONLY)
DisableSNP = 1
RespawnFast = 1

[PermGame4]
map = MAPID_PVP15 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 02.1 #ROCKYFORD ORIGINAL
DisableSNP = 0
DisableASR = 0
RespawnFast = 1

#[PermGame5]
map = MAPID_PVP15 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = #ROCKYFORD ORIGINAL (ASR ONLY)
DisableSNP = 1
RespawnFast = 1


// ****************************************** //


#[PermGame6]
map = MAPID_PVP11 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 03.1 [PVP] Bunker
DisableASR = 0
DisableSNP = 0
RespawnFast = 1

[PermGame7]
map = MAPID_PVP11 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 03.1 [PVP] Bunker (SNP ONLY)
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

#[PermGame8]
map = MAPID_PVP11 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 03.1 [PVP] Bunker (ASR ONLY)
DisableASR = 0
DisableSNP = 1
RespawnFast = 1

// ****************************************** //

[PermGame9]
map = MAPID_PVP01 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 04.1 [PVP] CLEARVIEW
RespawnFast = 1

[PermGame10]
map = MAPID_PVP01 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 04.2 [PVP] CLEARVIEW (SNP ONLY)
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

[PermGame11]
map = MAPID_PVP01 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 04.3 [PVP] CLEARVIEW (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

#[PermGame12]
map = MAPID_WZ_Cliffside DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] CLIFFSIDE
RespawnFast = 1

#[PermGame13]
map = MAPID_WZ_Cliffside DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] CLIFFSIDE (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame14]
map = MAPID_WZ_Cliffside DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] CLIFFSIDE (ASR ONLY)
DisableSNP = 1
RespawnFast = 1

// ****************************************** //

#[PermGame15]
map = MAPID_PVP07 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] CONTAINER
RespawnFast = 1

#[PermGame16]
map = MAPID_PVP07 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] CONTAINER (SNP ONLY) 
DisableASR = 1
RespawnFast = 1

[PermGame17]
map = MAPID_PVP07 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 05.1 [PVP] CONTAINER (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

[PermGame18]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 06.1 [PVP] ECOSNOW
RespawnFast = 1

#[PermGame19]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] ECOSNOW (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame20]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] ECOSNOW (ASR ONLY)
DisableSNP = 1
RespawnFast = 1

// ****************************************** //

[PermGame21]
map = MAPID_PVP16 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 07.1 [PVP] FROSTY
RespawnFast = 1

#[PermGame22]
map = MAPID_PVP16 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] FROSTY (SNP ONLY)
DisableASR = 1
RespawnFast = 1

[PermGame23]
map = MAPID_PVP16 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 07.2 [PVP] FROSTY (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

[PermGame24]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 08.1 [PVP] LEGO
RespawnFast = 1

#[PermGame25]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] LEGO (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame26]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] LEGO (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

[PermGame27]
map = MAPID_PVP10 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 09.1 [PVP] PAINTBALL
RespawnFast = 1

#[PermGame28]
map = MAPID_PVP10 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] PAINTBALL (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame29]
map = MAPID_PVP10 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] PAINTBALL (ASR ONLY)
DisableSNP = 1
RespawnFast = 1

// ****************************************** //

[PermGame30]
map = MAPID_PVP02 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 10.1 [PVP] ROCKYFORD
RespawnFast = 1

[PermGame31]
map = MAPID_PVP02 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 10.2 [PVP] ROCKYFORD (SNP ONLY)
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

[PermGame32]
map = MAPID_PVP02 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 10.3 [PVP] ROCKYFORD (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

#[PermGame33]
map = MAPID_PVP12 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] ROCKYFORD V2
RespawnFast = 1

[PermGame34]
map = MAPID_PVP12 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 11.1 [PVP] ROCKYFORD V2 (SNP ONLY)
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

[PermGame35]
map = MAPID_PVP12 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 11.2 [PVP] ROCKYFORD V2 (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1

// ****************************************** //

#[PermGame36]
map = MAPID_PVP04 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 11.1 [PVP] SESAMO
RespawnFast = 1

#[PermGame37]
map = MAPID_PVP04 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] SESAMO (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame38]
map = MAPID_PVP04 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] SESAMO (ASR ONLY)
DisableSNP = 1
RespawnFast = 1

// ****************************************** //

#[PermGame39]
map = MAPID_PVP08 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] SNOW VILLAGE
RespawnFast = 1

#[PermGame40]
map = MAPID_PVP08 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = [PVP] SNOW VILLAGE (SNP ONLY)
DisableASR = 1
RespawnFast = 1

#[PermGame41]
map = MAPID_PVP08 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = 12.1 [PVP] SNOW VILLAGE (ASR ONLY)
DisableSNP = 1
DisableASR = 0
RespawnFast = 1





// ****************************************** //

#[PermGame42]
map = MAPID_PVP08 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = #[PVP] SNOW VILLAGE (MEL ONLY)
DisableSNP = 1
MeleeOnly = 1
RespawnFast = 1

#[PermGame43]
map = MAPID_PVP07 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 1 1
name = #[PVP] CONTRINNER (MEL ONLY)
DisableSNP = 1
MeleeOnly = 1
RespawnFast = 1

// ****************************************** //

#[PermGame44]
map = MAPID_PVP02 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 6 1
name = FREE STYLE (ROCKYFORD)


// ****************************************** //

[PermGame45]
map = MAPID_PVP03 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] BIG CITY
Nodrop = 1
RespawnFast = 1

#[PermGame46]
map = MAPID_WZ_Cliffside DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] CLIFFSIDE
Nodrop = 1
RespawnFast = 1

#[PermGame47]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] ECOSNOW
Nodrop = 1
RespawnFast = 1

[PermGame48]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] ECOSNOW (ASR ONLY)
Nodrop = 1
RespawnFast = 1
DisableASR = 0
DisableSNP = 1

[PermGame49]
map = MAPID_PVP09 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] ECOSNOW (SNP ONLY)
Nodrop = 1
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

#[PermGame50]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] LEGO
Nodrop = 1
RespawnFast = 1

#[PermGame51]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] LEGO (ASR ONLY)
Nodrop = 1
RespawnFast = 1
DisableSNP = 1
DisableASR = 0

[PermGame52]
map = MAPID_PVP13 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 3 1
name = [NODROP] LEGO (SNP ONLY)
Nodrop = 1
DisableASR = 1
DisableSNP = 0
RespawnFast = 1

// ****************************************** //

[PermGame53]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 100 0 0 5 1
name = #[VS] MARKET SAFEZONE
RespawnFast = 1

[PermGame54]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 001)

[PermGame55]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 002)

[PermGame56]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 003)

#[PermGame57]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 004)

#[PermGame58]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 005)

#[PermGame59]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 006)

#[PermGame60]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 007)

#[PermGame61]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 008)

#[PermGame62]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 009)

#[PermGame63]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET 1VS1 (CH 010)

// ****************************************** //

#[PermGame69]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 4 0 0 5 1
name = [VS] MARKET 2VS2 (CH 001)

#[PermGame70]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 4 0 0 5 1
name = [VS] MARKET 2VS2 (CH 002)

#[PermGame71]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 4 0 0 5 1
name = [VS] MARKET 2VS2 (CH 003)

#[PermGame72]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 4 0 0 5 1
name = [VS] MARKET 2VS2 (CH 004)

#[PermGame73]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 4 0 0 5 1
name = [VS] MARKET 2VS2 (CH 005)

// ****************************************** //

#[PermGame64]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 6 0 0 5 1
name = [VS] MARKET 3VS3 (CH 001)

#[PermGame65]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 6 0 0 5 1
name = [VS] MARKET 3VS3 (CH 002)

#[PermGame66]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 6 0 0 5 1
name = [VS] MARKET 3VS3 (CH 003)

#[PermGame67]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 6 0 0 5 1
name = [VS] MARKET 3VS3 (CH 004)

#[PermGame68]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 6 0 0 5 1
name = [VS] MARKET 3VS3 (CH 005)

// ****************************************** //

#[PermGame74]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 10 0 0 5 1
name = [VS] MARKET 5VS5 (CH 001)

#[PermGame75]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 10 0 0 5 1
name = [VS] MARKET 5VS5 (CH 002)

#[PermGame76]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 10 0 0 5 1
name = [VS] MARKET 5VS5 (CH 003)

#[PermGame77]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 10 0 0 5 1
name = [VS] MARKET 5VS5 (CH 004)

#[PermGame78]
map = MAPID_PVP05 DOESNOTHING GBNET_REGION_US_West 0 0
data = 10 0 0 5 1
name = [VS] MARKET 5VS5 (CH 005)

// ****************************************** //

#[PermGame79]
map = MAPID_PVP06 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET NODROP 1VS1 (CH 001)
Nodrop = 1

#[PermGame80]
map = MAPID_PVP06 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET NODROP 1VS1 (CH 002)
Nodrop = 1

#[PermGame81]
map = MAPID_PVP06 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET NODROP 1VS1 (CH 003)
Nodrop = 1

#[PermGame82]
map = MAPID_PVP06 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET NODROP 1VS1 (CH 004)
Nodrop = 1

#[PermGame83]
map = MAPID_PVP06 DOESNOTHING GBNET_REGION_US_West 0 0
data = 2 0 0 5 1
name = [VS] MARKET NODROP 1VS1 (CH 005)
Nodrop = 1