<?xml version="1.0"?>
<configuration>

  <!-- application specific settings -->
  <appSettings>
    <add key="WO_Region" value="EN"/>
  </appSettings>

  <!-- ✅ ADD THIS -->
  <connectionStrings>
    <add name="WarZ"
         connectionString="
           Server=26.224.36.102,1433;
           Database=WarZ;
           User Id=sa;
           Password=19254400@Gus;
           TrustServerCertificate=True;
           Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <httpProtocol allowKeepAlive="true" />
  </system.webServer>

  <system.web>
    <httpRuntime enableVersionHeader="false"/>

    <compilation debug="false">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0,
                       Culture=neutral,
                       PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <authentication mode="None"/>

    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>
</configuration>
